streamlit==1.38.0
langchain-community==0.4.1
langchain-text-splitters==1.1.1
langchain-ollama==1.0.1
langchain-core==0.3.12
faiss-cpu==1.8.0
pypdf==5.1.0
sentence-transformers==3.1.1
huggingface-hub==0.23.0
numpy==1.26.4
